<div class="container">

  <img id="logo" src="https://mcoworking.herokuapp.com/assets/logo-app-96-8df8af71f2ca9b3a0e849662bfe5dc4b8997e4e006d7398be1e403cb23686147.png" alt="designer" class="col-4">

  <p>Bonjour <strong><%= @email %></strong>!</p>

  <% if @resource.request %>
    <p> Vous êtes actuellement à la position <%= @resource.rank %> sur la liste d'attente.

    <p>Pour garder votre place et confirmer votre demande d'accès à <strong>M-Coworking</strong>, vous devez confirmer votre e-mail en cliquant sur
    le lien ci-dessous. Cette étape est nécessaire tous les trois mois afin de maintenir votre demande</p>

    <p>(sans confirmation de votre part, nous serons contraints de retirer votre candidature après une semaine de délai,
    merci de votre compréhension)</p>
  <% else %>

    <p>Bonjour. Pour réserver votre place dans M-Coworking, vous devez confirmer votre e-mail en cliquant sur
    le lien ci-dessous. Cette étape est nécessaire tous les trois mois afin de maintenir votre demande</p>

    <p>(sans confirmation de votre part, vous ne pourrez pas vous inscrire sur notre liste)</p>

  <% end %>

    <p><%= link_to 'Je confirme mon compte', confirmation_url(@resource, confirmation_token: @token), class: 'btn-flat' %></p>

    <%= link_to "www.m-coworking.fr", "https://mcoworking.herokuapp.com/", id: "link" %>

</div>

<style>
.col-4 {
  width: 30%;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3E8685;
  transition: background 0.3s ease;
  margin-top: 42px;
  margin-bottom: 42px;
  text-decoration: none;
}

.btn-flat:hover {
  background: $black;
  color: white;
}

.container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
#logo {
  width: 40px;
}
#link {
  text-decoration: none;
}
</style>
