<div class="container">

  <p>Bonjour <%= @email %>!</p>

  <% if @resource.try(:unconfirmed_email?) %>
    <p>On vous contacte pour vous notifier que votre adresse email a été modifiée en <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>On vous contacte pour vous notifier que votre adresse email a été modifiée en <%= @resource.email %>.</p>
  <% end %>

</div>
